:root {
	--primary-red: hsl(7, 99%, 70%);
	--primary-yellow: hsl(51, 100%, 49%);
	--primary-dark-cyan: hsl(167, 40%, 24%);
	--primary-dark-blue: hsl(198, 62%, 26%);
	--primary-moderate-cyan: hsl(168, 38%, 65%);
  --footer-text: hsl(168, 45%, 34%);
	--neutral-dark-blue: hsl(212, 27%, 19%);
	--neutral-dark-grayish-blue: hsl(213, 9%, 39%);
	--neutral-grayish-blue: hsl(232, 10%, 55%);
	--neutral-grayblue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
	--font: 18px;
	--sm: 0.5em;
	--md: 0.75em;
	--base: 1em;
  --base-mid: 1.25em;
  --base-large: 1.5em;
  --base-extra-large: 1.75em;
  --large: 2em;
  --extra-large: 3em;
	--barlow: 'Barlow', sans-serif;
	--fraunces: 'Fraunces', serif;
  --layout-width: 90%;
  --transition: 0.3s ease;
  --anim-show: show 0.3s ease;
  --anim-float: float 1.3s ease infinite;
}

body {
	font-family: var(--barlow), 'sans-serif';
  color: var(--neutral-dark-blue);
}

a {
  text-decoration: none;
}

.avatar {
  border-radius: 9999px;
  width: 64px;
  height: 64px;
}

.button {
  background: none;
  outline: none;
  font-family: var(--fraunces);
  border: none;
  cursor: pointer;
}

.header {
	background-image: url('./images/mobile/image-header.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: var(--layout-width);
  height: 80px;
  margin: auto;
}

.main-logo {
  background-color: var(--white);
  width: 124px;
  height: 24px;
  -webkit-mask: url('./images/logo.svg') no-repeat center;
  mask: url('./images/logo.svg') no-repeat center;
}

.hamburger {
  background-image: url('./images/icon-hamburger.svg');
  transition: var(--transition);
  width: 24px;
  height: 18px;
}

.nav-list {
	display: none;
  position: absolute;
  background-color: var(--white);
  padding: var(--mid);
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  top: 90px;
  width: 100%;
  height: 250px;
  animation: var(--anim-show);
}

.nav-list::after {
  content: " ";
  border-left: 35px solid transparent;
	border-bottom: 30px solid var(--white);
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 0;
}

.nav-list.show {
  display: flex;
}

.nav-list a {
  color: var(--neutral-grayblue);
  font-size: var(--base);
}

.-button-nav {
  background: var(--primary-yellow);
  border-radius: 32px;
  padding: 12px 16px;
  font-family: var(--fraunces);
  font-weight: 900;
  transition: var(--transition);
}

.-button-nav:hover {
  background: hsla(0, 0%, 100%, 0.3);
  color: var(--white);
}

.header-title {
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--fraunces);
  font-weight: 700;
  font-size: calc(var(--large) + 0.30em);
  text-align: center;
  letter-spacing: 4px;
}

.header-arrow {
  display: block;
  position: relative;
  margin: auto;
  animation: var(--anim-float);
}

.-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url('./images/desktop/image-header.jpg');
    min-height: 650px;
  }

  .hamburger {
    display: none;
  }

  .nav-list {
    display: block;
    position: static;
    background: none;
    padding: var(--mid);
    width: auto;
    height: auto;
  }

  .nav-list::after {
    content: none;
  } 

  .nav-list a {
    margin: 0 35px;
    color: var(--white);
  }

  .-button-nav {
    background: var(--white);
  }
}

.main-img {
  min-height: 320px;
  background-position: center;
  background-size: cover;
}

.-egg {
  background-image: url('./images/mobile/image-transform.jpg');
}

.-wine {
  background-image: url('./images/mobile/image-stand-out.jpg');
}

.main-section {
  min-height: 400px;
  display: flex;
  margin: auto;
  width: var(--layout-width);
  justify-content: center;
  gap: 12px 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-section h3 {
  color: var(--neutral-dark-blue);
  margin: 0;
  font-size: var(--large);
  font-family: var(--fraunces);
  font-weight: 900;
}

.main-section p {
  color: var(--neutral-grayish-blue);
  line-height: 1.3;
}

.button--section {
  font-weight: 900;
  width: 160px;
  font-size: var(--base-mid);
  position: relative;
  color: var(--neutral-dark-blue)
}

.button--section-bar {
  position: absolute;
  z-index: -10;
  bottom: 0;
  width: 95%;
  opacity: 0.3;
  height: 8px;
  transition: var(--transition);
  border-radius: 32px;
}

.button--section:hover > .button--section-bar {
  opacity: 1;
}


.-yellow div {
  background-color: var(--primary-yellow);
}

.-red div {
  background-color: var(--primary-red);
}

.-large {
  min-height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2.5em;
}

.-large div {
  text-align: center;
}

.-large h3 {
  font-size: var(--base-extra-large);
  font-family: var(--fraunces);
  font-weight: 900;
  margin: 0;
}

.-large p {
  font-family: var(--base-mid);
  line-height: 1.7;
}

.-cherry {
  background-image: url('./images/mobile/image-graphic-design.jpg');
  color: var(--primary-dark-cyan);
}

.-orange {
  background-image: url('./images/mobile/image-photography.jpg');
  color: var(--primary-dark-blue);
}

@media screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  
  .main-section {
    grid-column: 1/2;
    width: 70%;
    gap: 25px 0;
    text-align: start;
    align-items: flex-start;
  }

  .-col-2 {
    grid-column: 2/3;
  }

  .-egg {
    background-image: url('./images/desktop/image-transform.jpg');
    grid-column: 2/3;
    grid-row: 1/1;
  }

  .-wine {
    background-image: url('./images/desktop/image-stand-out.jpg');
  }

  .-large {
    min-height: 400px;
  }

  .-large div {
    width: 50%;
  }

  .-cherry {
    background-image: url('./images/desktop/image-graphic-design.jpg');
    color: var(--primary-dark-cyan);
  }

  .-orange {
    background-image: url('./images/desktop/image-photography.jpg');
    color: var(--primary-dark-blue);
  }
}

.testimonial {
  background-color: var(--white);
  display: flex;
  gap: 40px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0 80px 0;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em 0;
}

.testimonial h2 {
  color: var(--neutral-grayblue);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: var(--fraunces);
  font-weight: 900;
  font-size: var(--base);
}

.testimonial-section {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-section p {
  color: var(--neutral-dark-grayish-blue);
  margin: 30px 0;
  line-height: 1.7;
}

.testimonial-name h4 {
  font-family: var(--fraunces);
  margin: 0 0 8px 0;
  font-weight: 900;
  font-size: var(--base-mid)
}

.testimonial-name span {
  color: var(--neutral-grayblue);
  font-weight: lighter;
}

@media screen and (min-width: 768px) {
  .testimonial {
    grid-column: 1/3;
    align-items: center;
    min-height: 650px;
    justify-content: center;
    padding: 0;
  }

  .testimonial-container {
    flex-direction: row;
    gap: 0 30px;
  }

  .testimonial-section {
    width: 350px;
  }
}

.grid {
  display: grid;
  min-height: 450px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item {
  height: auto;
  background-position: center;
  background-size: cover;
}

.grid-one {
  background-image: url('./images/mobile/image-gallery-milkbottles.jpg');
}

.grid-sec {
  background-image: url('./images/mobile/image-gallery-orange.jpg');
}

.grid-three {
  background-image: url('./images/mobile/image-gallery-cone.jpg');
}

.grid-four {
  background-image: url('./images/mobile/image-gallery-sugar-cubes.jpg');
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    min-height: 500px;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-one {
    background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
  }

  .grid-sec {
    background-image: url('./images/desktop/image-gallery-orange.jpg');
  }

  .grid-three {
    background-image: url('./images/desktop/image-gallery-cone.jpg');
  }

  .grid-four {
    background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
  }
}

.footer {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px 0;
  align-items: center;
  background-color: var(--primary-moderate-cyan);
}

.footer-links {
  min-height: 70px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: var(--footer-text);
  font-size: var(--base);
  font-weight: 700;
}

.-footer {
  background-color: var(--footer-text);
}

.footer-social {
  margin-top: 20px;
}

.footer-social img {
  margin: 0 10px;
}

@media screen and (min-width: 768px) {
  .footer-links {
    justify-content: center;
    gap: 0 25px;
  }

  .footer-social img {
    cursor: pointer;
  }
  
  .footer-social img:hover {
    fill: var(--white);
    color: var(--white);
  }
}

@keyframes float {
  0% {
    top: 10px;
  }

  50% {
    top: 0px;
  }

  100%  {
    top: 10px
  }
}

@keyframes show {
  0% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}